<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="dark">
    <main class="center-container">
      <%- include('partials/navbar') %>
      <div class="card">
        <h1>Total Users</h1>
        <p class="big-number"><%= totalUser %></p>
        <div class="form-actions">
          <a class="btn" href="/users">View Users</a>
        </div>
      </div>
    </main>
  </body>
</html>
