<nav class="navbar">
  <div class="nav-brand">
    <a href="/" class="btn">User Manager</a>
  </div>

  <div class="nav-links">
    <a href="/" class="btn">Home</a>
    <a href="/users" class="btn">Users</a>
    <a href="/users/new" class="btn primary">Add User</a>
  </div>
</nav>
