<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1 class="heading">Something Went Wrong</h1>

    <div
      class="card"
      style="max-width: 500px; margin: auto; text-align: center"
    >
      <h2>Error</h2>
      <p><%= error %></p>
    </div>

    <div class="btn-group" style="justify-content: center; margin-top: 20px">
      <a href="/posts" class="back-btn">Go Back</a>
    </div>
  </body>
</html>
