<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Show Post</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1 class="heading">Post Details</h1>

    <div class="card" style="max-width: 600px; margin: auto">
      <h2><%= post.username %></h2>
      <p><%= post.content %></p>
    </div>

    <div class="btn-group" style="justify-content: center; margin-top: 20px">
      <a href="/posts/<%=post.id%>/edit" class="edit-btn">Edit</a>
      <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
        <button>Delete</button>
      </form>
      <a href="/posts" class="back-btn">Back</a>
    </div>
  </body>
</html>
